<section id = "secTodoApp" ng-controller="MainCtrl">


    <div class="container-fluid">
        <!-- Page header -->
        <div class="jumbotron text-center">
            <h1>Buscador PRONTUS
            
            </h1>
            
        </div>
        <!-- Buscar Noticias -->
        <div id="noticia-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form name="buscar" ng-submit="main.buscarNoticia()" novalidate>

                    <div class="search" >

                        <input type="search" name="q" 
                               class="form-control input-lg search-center" 
                               placeholder="ingrese busqueda" 
                               ng-model="main.noticia.text" 
                               ng-required="true">

			<button type="submit" class="btn btn-primary btn-lg">buscar</button>
                    </div>
        <label class="radio-inline">
		  <input type="radio" name="buscarxtema" value="0"  ng-model="main.noticia.buscarxtema" ng-required="true" > Buscar por Contenido<br>
          </label>
        <label class="radio-inline">
          <input type="radio" name="buscarxtema" value="1" ng-model="main.noticia.buscarxtema" ng-required="true"> Buscar por Tema<br>
          </label>
        <label class="radio-inline">
          <input type="radio" name="buscarxtema" value="2" ng-model="main.noticia.buscarxtema" ng-required="true"> Buscar por SubTema<br>
          </label>
          
                </form>
		 <!-- List of Todo's -->

         
            <div ng-controller="MainCtrl">

      
      <div>


    <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul>
      
    <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>

              <div ng-repeat="row in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
		<h3><a ng-href="#noticia/{{row._id}}"target="_blank">{{row.titular}}</a></h3><br/>
                <span>{{row.bajada}}</span><br />
Tema:           <span>{{row.tema}}</span><br />
    SubTema:    <span>{{row.subtema}}</span><br />


              </div>

        </div>
	
            </div>
        </div>
    </div>
</div>
</section> <!-- @END/ section -->
