<section id = "noticia" ng-controller="viewNoticia">
    <div class="container-fluid">
        <!-- Page header -->
        <div class="jumbotron text-center">
        </div>
        <!-- Noticia Seleccionada -->
        <h1> {{titular}}
        </h1>
        <b>Fecha Creacion</b>: <i>{{fecha_creacion}}</i>
        <b><br>Publicado por:</br></b> <i>{{autor}}</i>
        <p>
            {{bajada}} 
        </p> 
        
        <p>  {{cuerpo}} </p>
        
        
        
        
        <div id="noticia-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
		 <!-- List of Todo's -->
        <div id="noticia-list" class="row " >
            <div class="col-md-4 col-sm-6 col-xs-12 col-center-block">
                <!-- Loop through noticias -->
                
                
            </div>
        </div>
		



            </div>
        </div>
    </div>

</section> <!-- @END/ section -->